body {
    background-image: url("../img/153-1533039_blue-deep-ocean-water-wallpaper-full-hd-wallpapers.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.inicio {
    position: center center;
    margin: 2vw 3vw;
    top: 10vh;
    background: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #000;
}

.consultav {
    position: center center;
    margin: 2vw 3vw;
    top: 10vh;
    background: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #000;
}